@using Employee.Models
@using Microsoft.AspNetCore.WebUtilities;
@model  mgrList;

@{
    ViewData["Title"] = "Build Crew ";
}
<p>
    <a asp-action="Index">Home</a>
</p>
<p>
    <form asp-action="BuildCrew_push">
        @Html.DropDownListFor(modelitem =>modelitem.EMPLOYEEID,Model.myddList,"Select Manager",new { @class = "custom-select" })





        <div class="form-group">
            <input type="submit" value="Create" class="btn bg-primary" />  
        </div> 
    </form>
</p>
<p>

</p>


