@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://localhost:7111/home/viewallemployee">View All Employees</a>.</p>
    <p><a href="https://localhost:7111/home/create">Create A Employee </a>.</p>
    <p><a href="https://localhost:7111/home/BuildCrew">Build A Crew </a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

